body {
    font-family: arial, sans-serfif;
    font-size: 1.0em;
    line-height: 1.5em;
}

h1 {
    color: darkred;
}

h2 {
    color: darkblue;
}

label {
    font-weight: bold;
    color: darkgreen;
}

div.float-left {
    padding: 10px;
    float: left;
}

li.ng-enter {
    -webkit-animation: lightSpeedIn 0.5s;
    animation: lightSpeedIn 0.5s;
}

h3.ng-enter {
    -webkit-animation: lightSpeedIn 0.5s;
    animation: lightSpeedIn 0.5s;
}

span.ng-enter {
    -webkit-animation: fadeInRightBig 0.5s;
    animation: fadeInRightBig 0.5s;
}

div.header.ng-enter {
    -webkit-animation: fadeInRightBig 0.5s;
    animation: fadeInRightBig 0.5s;
}

div.ng-enter {
    -webkit-animation: bounceIn 0.5s;
    animation: bounceIn 0.5s;
}

div.ng-leave {
    -webkit-animation: bounceOutLeft 1.0s;
    animation: bounceOutLeft 1.0s;
}

img.thumbnail {
    max-width: 150px;
    max-height: 150px;
    padding: 5px 5px 20px 5px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 2px 2px 3px #aaaaaa;
}

br.clear-all {
    clear: both;
}

.wordwrap
{
    /* wrap long text and urls */
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word; /* IE 5+ */
}

.darkred {
    color: darkred;
}

.darkgreen {
    color: darkgreen;
}

.darkblue {
    color: darkblue;
}

.white {
    color: white;
}